header {
  display: flex;
  color: white;
  font-family: arial;
  text-decoration: none;
  text-align: end;
  justify-content: space-between;
  font-size: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header nav ul li {
  margin: 5px;
}

body {
  background-image: url(https://assets-global.website-files.com/5b882ff386d604828bc7ab04/64ef309ff804e09c0e2abca1_backpo.jpg);
}
body .container-anuncio p {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
body .ul-live {
  display: none;
}

main section img {
  margin-top: 20px;
  transition: 3s;
}
main section img:hover {
  transform: rotate(10deg);
}
main section p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 50px;
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  padding: 15px;
  border-radius: 10px;
}

.boton-order {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
}
.boton-order:hover {
  background-color: white;
  color: rgb(100, 60, 200);
}

.boton-1 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-1:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

.boton-2 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-2:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

.boton-3 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-3:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

.boton-4 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-4:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

.boton-5 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-5:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

.boton-6 {
  color: white;
  background-color: rgb(99, 60, 199);
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 20px;
  display: grid;
  justify-items: center;
}
.boton-6:hover {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  color: rgb(33, 37, 41);
}

footer p {
  background-color: rgb(100, 60, 200);
  color: rgb(92, 187, 146);
  text-align: center;
}

.grid-container {
  margin-top: 100px;
  border: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 850px 850px 850px;
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
}
.grid-container .grid-item {
  border: 1px;
}
.grid-container .grid-item .item-1 {
  padding: 250px;
}
.grid-container .grid-item .item-2 {
  padding: 250px;
}
.grid-container .grid-item .item-3 {
  padding: 250px;
}
.grid-container .grid-item .item-4 {
  padding: 250px;
}
.grid-container .grid-item .item-5 {
  padding: 250px;
}
.grid-container .grid-item .item-6 {
  padding: 250px;
}
.grid-container img {
  width: 450px;
}
.grid-container img:hover {
  transform: scale(1.4);
}
.grid-container p {
  background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 3px;
}

.h1-videos {
  color: rgb(99, 60, 199);
  text-align: center;
  margin-top: 100px;
}

body section div iframe {
  width: 600px;
  height: 500px;
}

.elemento-bloque {
  color: rgb(100, 60, 200);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 100px;
  margin-top: 100px;
}

body section div .p1, body section div .p6, body section div .p5, body section div .p4, body section div .p3, body section div .p2 {
  text-align: center;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  body {
    background-image: url(https://assets-global.website-files.com/5b882ff386d604828bc7ab04/64ef309ff804e09c0e2abca1_backpo.jpg);
  }
  .container-anuncio {
    background-color: black;
  }
  .container-anuncio p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
  }
  nav ul li {
    display: list-item;
  }
  main section {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
    justify-content: center;
  }
  main section img {
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .Parrafo-footer {
    background-color: rgb(100, 60, 200);
  }
  .Parrafo-footer {
    color: rgb(92, 187, 146);
    text-align: center;
  }
  .elemento-bloque {
    color: rgb(100, 60, 200);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
  }
  body header img {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 35px;
  }
  .header.contacto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
  }
  .p1, body section div .p2, body section div .p3, body section div .p4, body section div .p5, body section div .p6 {
    text-align: center;
    padding: 15px;
  }
  .p2 {
    text-align: center;
    padding: 15px;
  }
  .p3 {
    text-align: center;
    padding: 15px;
  }
  .p4 {
    text-align: center;
    padding: 15px;
  }
  .p5 {
    text-align: center;
    padding: 15px;
  }
  .p6 {
    text-align: center;
    padding: 15px;
  }
  ul {
    list-style-type: none;
    display: flex;
  }
  ul li {
    margin: 5px;
  }
  .boton-order {
    color: white;
    background-color: rgb(99, 60, 199);
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
  }
  section p a:hover {
    background-color: white;
    color: rgb(100, 60, 200);
  }
  .shop-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
  }
  .img-shop {
    width: 300px;
  }
  .grid-container {
    border: 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 600px 600px 600px 600px 600px;
    column-gap: 15px;
    row-gap: 15px;
  }
  .grid-item {
    border: 1px;
  }
  .item-1 {
    padding: 35px;
  }
  .item-2 {
    padding: 35px;
  }
  .item-3 {
    padding: 35px;
  }
  .item-4 {
    padding: 35px;
  }
  .item-5 {
    padding: 35px;
  }
  .item-6 {
    padding: 35px;
  }
  .item-1 img {
    width: 250px;
  }
  .item-1 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .item-2 img {
    width: 250px;
  }
  .item-2 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .item-3 img {
    width: 250px;
  }
  .item-3 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .item-4 img {
    width: 250px;
  }
  .item-4 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .item-5 img {
    width: 250px;
  }
  .item-5 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .item-6 img {
    width: 250px;
  }
  .item-6 p {
    background-image: linear-gradient(to right, rgb(92, 187, 146), rgb(100, 60, 200));
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
  }
  .shop-parcels ul {
    display: none;
  }
  div h1 {
    color: rgb(99, 60, 199);
  }
  div iframe {
    width: 600px;
    height: 500px;
  }
  div h1 {
    margin-left: 650px;
  }
  .videos.header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
  }
  .h1-videos {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
