.elemento-bloque{
    color: rgb(100,60,200);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 100px;
    margin-top: 100px;
}
body{
    section{
        div{
            .p1{
                text-align: center;
                padding: 15px;
            }
            .p2{
            @extend .p1
            }
            .p3{
             @extend .p1
            }
            .p4{
            @extend .p1
            }
            .p5{
            @extend .p1
            }
            .p6{
            @extend .p1
            }
        }
    }
}