@import "../utilities/variables";
header{
    display: $display-flex;
    color: $color-blanco;
    font-family: $fuente-principal;
    text-decoration: none;
    text-align: end;
    justify-content: space-between;
    font-size: $size-5; 

    nav{
        ul{
            display: $display-flex;
            justify-content: space-between;
            list-style-type: none;
            li{
                margin: 5px;
            }
        }
    }
}