body{
    background-image: url(https://assets-global.website-files.com/5b882ff386d604828bc7ab04/64ef309ff804e09c0e2abca1_backpo.jpg);
    .container-anuncio{
        p{
            background-color: black ;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    }
    .ul-live{
        display: none;
    }
}